<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>To-Do App</title>
  </head>
  <body>
    <h1>{{Name}}'s To Do List:</h1>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Status</th>
        <th scope="col">Other Actions:</th>
      </tr>
      </thead>
      <tbody>
      {% for data in tasks %}
      <tr>
          <td>{{data['content']}}</td>
          {% if data['completed'] %}
            <td>COMPLETED</td>
          {% else %}
            <td>NEED TO DO</td>
          {% endif %}
          <td>
            {% if data['completed']%}
              <a href="/update_notdone/{{data['id']}}">Mark as Incomplete</a>
            {% else %}
              <a href="/update_done/{{data['id']}}">Mark as Complete</a>
            {% endif %}
            <br>
            <a href="/delete_task/{{data['id']}}">Delete</a>
          </td>
      </tr>
			{% endfor %}
      </tbody>
    </table>
    <form method = "POST">
      <div class="form-group">
      New Task to be Completed:<br>
      <input type="text" name="new_task" placeholder="Enter new task here"><br>
      </div>
      <div class="hidden-xs hidden-md hidden-lg">
      <input class="btn btn-primary btn-sm" type ="submit" name="submit" value = "Submit" />
      </div>
    </form>
    <br>
    <a class="btn btn-secondary btn-sm" href="/logout">Log Out</a>
  </body>
</html>
